.scroll-container {
  width: fit-content;
  height: fit-content;
}

.scroll-icon {
  width: 14px;
  height: 25px;
  margin: 0 auto;
  border: 2px solid #000000;
  border-radius: 16px;
}

.scroll-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: 4px auto;
  background-color: #000000;
}

.paragraph-lighter {
  display: inline-block;
}
