.scroll-container {
  width: fit-content;
  height: fit-content;
}

.scroll-icon {
  width: 14px;
  height: 25px;
  margin: 0 auto;
  border: 2px solid #000000;
  border-radius: 16px;
}

.paragraph-lighter {
  display: inline-block;
}
