@import "src/styles.scss";
@import "src/variables.scss";

.landing-container {
  width: 100%;
  height: 100%;
  background-color: $app-background;
}

.landing-loading-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000000;
  cursor: none;
  overflow: hidden;
}

.landing-loading-cursor {
  position: absolute;
  width: 70px;
  height: 70px;
  @extend .center-contents;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  animation: loadingBounce 1s infinite;
}
.landing-animate-cursor {
  animation: enlargeCursor 1s ease-in-out 1 forwards;
}

.landing-loading-text {
  @extend .secondary-font;
  @extend .font-bolder;
}

.landing-background-text-container {
  width: 100%;
  height: 100%;
  @extend .center-column-contents;
}

.landing-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.landing-content::-webkit-scrollbar {
  display: none;
}

.landing-greeting {
  width: 100%;
  height: 100%;
  @extend .center-column-contents;
}

.landing-header {
  font-size: 80px;
  @extend .font-bolder;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.landing-header:hover {
  transform: skewX(-15deg);
}

.landing-emoji {
  margin-top: 24px;
  font-size: 60px;
  text-align: center;
  cursor: pointer;
}
.landing-emoji-animate {
  animation: emoJiggle 0.8s ease-in-out 1 forwards;
}

.landing-scroll-container {
  position: absolute;
  bottom: 24px;
  width: 100%;
  @extend .center-column-contents;
}

// Animations

@keyframes emoJiggle {
  0% {
    font-size: 60px;
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    font-size: 70px;
  }
  55% {
    transform: rotate(-10deg);
  }
  100% {
    font-size: 60px;
  }
}

@keyframes loadingBounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes enlargeCursor {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(100);
  }
}
