@import "src/styles.scss";
@import "src/variables.scss";

.landing-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $app-background;
}

.landing-background-text-container {
  width: 100%;
  padding-top: 24px;
}

.landing-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @extend .flex-column;
  @extend .justify-center;
  @extend .align-center;
}

.landing-header {
  font-size: 80px;
  @extend .font-bolder;
}

.landing-emoji {
  font-size: 60px;
}

.landing-scroll-container {
  position: absolute;
  left: calc(50% - 17.5px);
  bottom: 24px;
}
